<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackwolf.solowolf">

    <application
        android:allowBackup="true"
        android:label="Solo Wolf"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".DailyQuestsActivity" />
        <activity android:name=".FitnessGuideActivity" />
        <activity android:name=".NutritionGuideActivity" />
        <activity android:name=".StyleAdviceActivity" />
        <activity android:name=".ConfidenceTipsActivity" />
        <activity android:name=".AttractionSecretsActivity" />
        <activity android:name=".GirlsSectionActivity" />
        <activity android:name=".TransformationLabActivity" />
        <activity android:name=".ChallengesHallActivity" />
        <activity android:name=".KnowledgeLibraryActivity" />
        <activity android:name=".MeditationRoomActivity" />
    </application>

</manifest>
