<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackwolf.solowolf">

    <application
        android:theme="@style/Theme.SoloWolf.Dark"
        android:allowBackup="true"
        android:label="SoloWolf"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>